
#ErrorContainer{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 84px;
    opacity: 1;
    width: 100%;
    margin: auto;
    justify-content: center;
}

#logoContainer{
    margin: 50px;
    /* border-right: solid 1px; */
}

body{
    background-image: url('../resources/images/background.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.appTitle{
    text-align: center;
    font: normal normal bold 40px/53px sans-serif;
    letter-spacing: 0px;
    color: #23233C;
    opacity: 1;
    text-align: center;
    margin-top: 0.5em !important;
}

.appLink{
    text-decoration: underline;
    text-align: center;
    font: normal normal normal 13px/17px sans-serif;
    letter-spacing: 0px;
    color: #898888C9;
    opacity: 1;
    margin: 0px;
}


.verticalLine{
    height: 500px;
    border-right: 1px solid black;
}

.separator{
    height: 95%;
    border-right: 1px solid black;
    margin: 10%;
}

@media screen and (max-width: 767px) {

    .verticalLine{
        display: none;
    }

    .separator{
        display: none;
    }
}