@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url('../resources/images/background.png');
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

thead{
    border-style: hidden !important;
    background-color: #00cc9a;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
}


.boldFont{
    font-weight: bold;
}
.boxShadow{
    box-shadow: 0px 10px 10px #0000004F;
}
.myBtnPink{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #F53478;
    border-color: #F53478;
}
.noDecoration{
    text-decoration: none;
}
.greyText{
    color: #222222
}
.marginTop150{
    margin-top: 150px;
}
.marginBottom200{
    margin-bottom: 200px;
}
.roundShape{
    height: 80px;
    width: 80px;
    background-color: #8a8989;
    border: 0px;
    border-radius: 50%;
    display: inline-block;
}
.height100{
    height: 100%;
}
#logoutLink{
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}
#profileCircle{
    font-family: 'Poppins', sans-serif;
    color: #222222;
}
#headerContainer{
    background-color: #ffffff;
}
#iconToggle{
    display: none;
}
@media screen and (max-width: 900px) {
    #headerContainer{
        visibility: hidden;
        opacity: 0;
    }
    #toggle:checked + #headerContainer{
        flex-direction: column;
        width: 100%;
        height: fit-content;
        padding-bottom: 10px;
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity 600ms, visibility 600ms, height 600ms, width 600ms;
        transition: opacity 600ms, visibility 600ms, height 600ms, width 600ms;
    }
    #linkProfilo{
        margin-top: 0px;
    }
    #iconToggle{
        display: flex;
        margin: 10px;
    }
    .collapsable{
        text-align: center;
    }
}